secondtest/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "RawSourceDir",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@{endswith(item().name,'file1.txt')}",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Data1",
										"type": "Copy",
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"typeProperties": {
											"source": {
												"type": "AzureBlobFSSource",
												"recursive": true
											},
											"sink": {
												"type": "AzureBlobFSSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "File1TypeRAW",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "File1TypeStage",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"typeProperties": {
								"expression": {
									"value": "@{endswith(item().name,'file2.txt')}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		]
	}
}